.svn
/target
.classpath
.project
/dss-agent-core/target/
/dss-agent-server/target/
.DS_Store
/dss-agent-client/target/
/dss-agent-model/target/
/dss-agent-util/target/
/dss-agent-acl/target/
/dss-agent-service/target/
/dss-domain-client-example/target/